body {
	margin-left: 90px;
}

#box {
	width: 400px;
	height: 400px;
	border-radius: 5px;
	background-color: background: rgb(235,241,246); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(235,241,246,1) 0%, rgba(137,195,235,1) 4%, rgba(137,195,235,1) 4%, rgba(137,195,235,1) 25%, rgba(213,235,251,1) 43%, rgba(213,235,251,1) 43%, rgba(171,211,238,1) 64%, rgba(171,211,238,1) 64%, rgba(171,211,238,1) 70%, rgba(213,235,251,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(235,241,246,1)), color-stop(4%,rgba(137,195,235,1)), color-stop(4%,rgba(137,195,235,1)), color-stop(25%,rgba(137,195,235,1)), color-stop(43%,rgba(213,235,251,1)), color-stop(43%,rgba(213,235,251,1)), color-stop(64%,rgba(171,211,238,1)), color-stop(64%,rgba(171,211,238,1)), color-stop(70%,rgba(171,211,238,1)), color-stop(99%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 4%,rgba(137,195,235,1) 4%,rgba(137,195,235,1) 25%,rgba(213,235,251,1) 43%,rgba(213,235,251,1) 43%,rgba(171,211,238,1) 64%,rgba(171,211,238,1) 64%,rgba(171,211,238,1) 70%,rgba(213,235,251,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 4%,rgba(137,195,235,1) 4%,rgba(137,195,235,1) 25%,rgba(213,235,251,1) 43%,rgba(213,235,251,1) 43%,rgba(171,211,238,1) 64%,rgba(171,211,238,1) 64%,rgba(171,211,238,1) 70%,rgba(213,235,251,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 4%,rgba(137,195,235,1) 4%,rgba(137,195,235,1) 25%,rgba(213,235,251,1) 43%,rgba(213,235,251,1) 43%,rgba(171,211,238,1) 64%,rgba(171,211,238,1) 64%,rgba(171,211,238,1) 70%,rgba(213,235,251,1) 99%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(235,241,246,1) 0%,rgba(137,195,235,1) 4%,rgba(137,195,235,1) 4%,rgba(137,195,235,1) 25%,rgba(213,235,251,1) 43%,rgba(213,235,251,1) 43%,rgba(171,211,238,1) 64%,rgba(171,211,238,1) 64%,rgba(171,211,238,1) 70%,rgba(213,235,251,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#right {
	padding-left: 196px;
}

#left {
	font-family: conslas, monospace;
	padding-left: 3px;
}

#innerbox {
	font-family: consolas, monospace;
	font-size: 12px;
	width: 387px;
	height: 359px;
	margin: 5px;
	border: 1px solid #CACACA;
	border-radius: 1px;
	background-color: background: rgb(249,249,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,249,249,1) 1%, rgba(199,217,234,1) 55%, rgba(199,217,234,1) 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(249,249,249,1)), color-stop(55%,rgba(199,217,234,1)), color-stop(80%,rgba(199,217,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 1%,rgba(199,217,234,1) 55%,rgba(199,217,234,1) 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,249,249,1) 1%,rgba(199,217,234,1) 55%,rgba(199,217,234,1) 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,249,249,1) 1%,rgba(199,217,234,1) 55%,rgba(199,217,234,1) 80%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,249,249,1) 1%,rgba(199,217,234,1) 55%,rgba(199,217,234,1) 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#c7d9ea',GradientType=0 ); /* IE6-9 */

}

div.list ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	width: 388px;
	height: 15px;
	border: 1px;	 
	border-bottom: 1px solid #CACACA;
	background-color: background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f6f8 0%, #b5c6d0 37%, #b5c6d0 82%, #d8e1e7 95%, #e0eff9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(37%,#b5c6d0), color-stop(82%,#b5c6d0), color-stop(95%,#d8e1e7), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f6f8 0%,#b5c6d0 37%,#b5c6d0 82%,#d8e1e7 95%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f6f8 0%,#b5c6d0 37%,#b5c6d0 82%,#d8e1e7 95%,#e0eff9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f6f8 0%,#b5c6d0 37%,#b5c6d0 82%,#d8e1e7 95%,#e0eff9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f6f8 0%,#b5c6d0 37%,#b5c6d0 82%,#d8e1e7 95%,#e0eff9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}

div.list ul li {
	padding-left: 15px;
	font-size: 12px;
	list-style-position: left;
}

.list ul li:first-letter {
	text-decoration: underline;
} 

ul li {
	display: inline-block;
	list-style-type: none;
}

.text {
	width: 367px;
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid #CACACA;
	border-radius: 3px;
	text-align: right;
	vertical-align: bottom;
}

div.numlist {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 0;
	border: 1px solid #CACACA;
	border-radius: 3px;
	width: 365px;
	height: 55px;
	color: #586A89;
}

.numlist ul {
	margin: 0;
	padding: 0;
	font-style: bold;
}

.numlist ul li {
	list-style-type: none;
	font-size: 11px;
	font-style: bold;
	padding-left: 19px;

}
.second-row, .forth-row {
	color: #9D9D9D;
}

.second-row li:nth-child(2) {
	padding-left: 160px;
}

.second-row li:nth-child(3) {
	padding-left: 128px;
}

.forth-row li:nth-child(2) {
	padding-left: 153px;
}

.forth-row li:nth-child(3) {
	padding-left: 135px;
}

aside .up, aside .down {
	display: inline-block;
	margin: 0;
	padding: 0;

}

.up ul {
	border: 1px solid #CACACA;
	border-radius: 3px;
	width: 60px;
	height: 90px;
	margin-left: 10px;
	margin-top: 5px;
	padding: 0;
}

.down ul {
	border: 1px solid #CACACA;
	border-radius: 3px;
	width: 60px;
	height: 90px;
	margin-left: 10px;
	margin-top: 0;
	padding: 0;

} 

.up ul li, .down ul li {
	text-align: left;
	font-size: 11px;
	color: #586A89;
}

div.button {
	display: block;
	position: absolute;
	left: 15%;
	top: 26%;
	height: 100px;
	width: 300px;
}

button {
	width: 30px;
	height: 25px;
	margin: 2px;
	padding: 2px;
	font-family: consolas, monospace;
	font-size: 11px;
	font-variant: bold;
	color: #586A89;
}

button:hover {
	background-color: background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

}

.equal-bold {
	height: 51px;
}

.zero {
	width: 61px;
}

.gradient {
	border: 1px solid #969696;
	border-radius: 2px;
	background-color:background: rgb(242,246,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 37%, rgba(181,198,208,1) 54%, rgba(181,198,208,1) 54%, rgba(181,198,208,1) 93%, rgba(181,198,208,1) 93%, rgba(224,239,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(37%,rgba(216,225,231,1)), color-stop(54%,rgba(181,198,208,1)), color-stop(54%,rgba(181,198,208,1)), color-stop(93%,rgba(181,198,208,1)), color-stop(93%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 37%,rgba(181,198,208,1) 54%,rgba(181,198,208,1) 54%,rgba(181,198,208,1) 93%,rgba(181,198,208,1) 93%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 37%,rgba(181,198,208,1) 54%,rgba(181,198,208,1) 54%,rgba(181,198,208,1) 93%,rgba(181,198,208,1) 93%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 37%,rgba(181,198,208,1) 54%,rgba(181,198,208,1) 54%,rgba(181,198,208,1) 93%,rgba(181,198,208,1) 93%,rgba(224,239,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 37%,rgba(181,198,208,1) 54%,rgba(181,198,208,1) 54%,rgba(181,198,208,1) 93%,rgba(181,198,208,1) 93%,rgba(224,239,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}

.shadow {
	border: 1px solid #B6C1C7;
	border-radius: 2px;
	background-color: #CBE0EB;
}

.standart {
	border: 1px solid #969696;
	border-radius: 2px;
	background-color: #E7EDF1;
}

.none {
border: 1px solid #969696; 
border-radius: 2px;
background-color: #CBE0EB;
}